@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@using System.Web;

@{
    ViewBag.Title = "Website Administration";
}

@if (!string.IsNullOrEmpty(User.Identity.GetUserId()))
{
    if (this.Context.GetOwinContext().GetUserManager<ApplicationUserManager>()
        .IsInRole(User.Identity.GetUserId(), "Admin"))
    {

        <div class="col-md-12" style="margin-top:10px">

        </div>


        <div class="row">

            <div class="col-md-12" style="margin-top:10px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="bg-primary text-center" style="font-size:x-large">
                            Application Administration Module
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-12">
                <h2>Welcome to Administration Panel. You can do following administration tasks.</h2>
            </div>
        </div>


        <div class="col-md-12" style="margin-top:10px">

        </div>


        <div class="row">

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Management</h3>
                    </div>
                    @*<div class="panel-body"> Panel content </div>*@
                    <div class="panel-footer">
                        <ul>
                            <li>
                                @Html.ActionLink("Manage Users", "List", "Users", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "manageUsersLink", @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Manage Users 2", "Index", "UsersAdmin", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "manageUsersLink2", @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Create User", "Create", "Users", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "createUserLink", @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Create User 2", "Create2", "Users", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "createUserLink2", @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>





            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Role Management</h3>
                    </div>
                    @*<div class="panel-body"> Panel content </div>*@
                    <div class="panel-footer">
                        <ul>
                            <li>
                                @Html.ActionLink("Manage Roles", "List", "Roles", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "manageRolesLink", @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Manage Roles 2", "Index", "RolesAdmin", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "manageRolesLink2", @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Create Role", "Create", "Roles", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "createRoleLink", @class = "" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Claims Management</h3>
                    </div>
                    @*<div class="panel-body"> Panel content </div>*@
                    <div class="panel-footer">
                        <ul>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    @*<div class="panel-body"> Panel content </div>*@
                    <div class="panel-footer">
                        <ul>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>





    }
    else
    {
        <h2>  You do not have sufficient privileges. </h2>
    }
}
else
{
    <h2>  You do not have sufficient privileges. </h2>
}
