@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@using System.Web;
@using CleanArchTemplate.AccessControl.ViewModels;

@{
    bool isAdminUser = false; // this variable is accessible in child Views
    var userManager = this.Context.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var user = User.Identity.GetUserId();
    if (user != null)
    {

    var userRoles = userManager.GetRoles(User.Identity.GetUserId());
    if (userRoles == null | userRoles.Count <= 0)
    { isAdminUser = false; }
    else if (userRoles[0].ToString() == RoleName.Admin)
    { isAdminUser = true; }

    }
    }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar", isAdminUser)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
