@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Application Role Details";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<h4>List of users in <b>@Model.Name</b> role </h4>

@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>User Name</th>
        </tr>
    </thead>

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("Delete", "Roles", routeValues: new { area = "AccessControl", id = Model.Id }, method: FormMethod.Post, htmlAttributes: new { id = "roleDeleteLinkForm" }))
{
    @Html.ActionLink("Edit", "Edit", "Roles", routeValues: new { id = @Model.Id }, htmlAttributes: new { id = "roledetailsLink", @class = "btn btn-primary" })
    <span style="width:1px"> </span>
    @Html.ActionLink("Back to List", "List", "Roles", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "listRoleLink", @class = "btn btn-primary" })

    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user : @Model.Name')" />

    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
        <span>Are you sure you want to delete?</span>
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="#" class="btn btn-primary"
           onclick="confirmDelete('@Model.Id', false)">No</a>
    </span>

    <span id="deleteSpan_@Model.Id">
        <a href="#" class="btn btn-danger"
           onclick="confirmDelete('@Model.Id', true)">Delete</a>
    </span>
}
    @section Scripts {
        <script src="~/Scripts/ConfirmDelete.js"></script>
    }