@model CleanArchTemplate.AccessControl.ViewModels.CreateUserFormViewModel2
@{
    /**/

    // This shows how to Bind List of Objects on the UI.
    // This show how to get List of Objects as Automatic Model Binding when form is posted

    /**/

    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    if (ViewBag.Message != null && ViewBag.Message != string.Empty)
    {
        @ViewBag.Message
    }
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <!--New Properties of Application User-->

    <div class="form-group">
        @Html.LabelFor(m => m.DrivingLicense, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DrivingLicense, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>

    <!--New Properties of Application User-->


    <div class="form-group">
        <label class="col-md-2 control-label">
            Select User Role
        </label>
        <div class="col-md-10">
            @if (Model.AllRolesList.Count() > 0)
            {
                foreach (var item in Model.AllRolesList)
                {
                    <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            }
            else
            {
                @Html.Label("No Roles found for User", new { @class = "control-label" })
            }
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">
            Select User Claims
        </label>
        <div class="col-md-10">
            @if (Model.AllClaimsList.Count() > 0)
            {
                foreach (var item in Model.AllClaimsList)
                {
                    <input type="checkbox" name="SelectedClaims" value="@item.IsSelected" class="checkbox-inline" />
                    @Html.Label(item.ClaimType, new { @class = "control-label" })
                }
            }
            else
            {
                @Html.Label("No Claims found for User", new { @class = "control-label" })
            }
        </div>
    </div>



    @*@Html.HiddenFor(m => m.Id)*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Cancel", "List", "Users", routeValues: new { area = "AccessControl" }, htmlAttributes: new { id = "listRoleLink", @class = "btn btn-primary" })
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
